[submodule "_vim/bundle/gundo"]
	path = _vim/bundle/gundo
	url = http://github.com/sjl/gundo.vim.git
[submodule "_vim/bundle/taglist"]
	path = _vim/bundle/taglist
	url = https://github.com/vim-scripts/taglist.vim.git
[submodule "_vim/bundle/vcscommand"]
	path = _vim/bundle/vcscommand
	url = https://github.com/vim-scripts/vcscommand.vim
[submodule "_vim/bundle/bufkill"]
	path = _vim/bundle/bufkill
	url = https://github.com/vim-scripts/bufkill.vim
[submodule "_vim/bundle/quickbuf"]
	path = _vim/bundle/quickbuf
	url = https://github.com/vim-scripts/QuickBuf
[submodule "_vim/bundle/nerdcommenter"]
	path = _vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter
[submodule "_vim/bundle/nerdtree"]
	path = _vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "_vim/git/pathogen"]
	path = _vim
	url = https://github.com/vim-scripts/pathogen.vim.git
[submodule "_vim/bundle/grep"]
	path = _vim/bundle/grep
	url = https://github.com/vim-scripts/grep.vim.git
[submodule "_vim/bundle/supertab"]
	path = _vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "_vim/bundle/omnicppcomplete"]
	path = _vim/bundle/omnicppcomplete
	url = https://github.com/vim-scripts/OmniCppComplete.git
[submodule "_vim/bundle/Jinja"]
	path = _vim/bundle/Jinja
	url = https://github.com/vim-scripts/Jinja.git
[submodule "_vim/bundle/TagmaBufMgr"]
	path = _vim/bundle/TagmaBufMgr
	url = https://github.com/LStinson/TagmaBufMgr.git
[submodule "_vim/bundle/ctrlp.vim"]
	path = _vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "_vim/bundle/python-mode"]
	path = _vim/bundle/python-mode
	url = https://github.com/klen/python-mode
[submodule "_vim/bundle/tagbar"]
	path = _vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "_vim/bundle/mako.vim"]
	path = _vim/bundle/mako.vim
	url = https://github.com/vim-scripts/mako.vim.git
